.data .col {	
	cursor: pointer;
	}

    .data .col .carrot:after {
        font-size: 80%;
        content: "";
        margin-right: 18px;
        }

        .data .col .pointer:hover:after {
            font-size: 80%;
            content: "🔻";
            margin-right: 0;
            }
            
    