.data .col {	
	cursor: pointer;
	}

    /* .data .table .col .carrot:after {
        font-size: 80%;
        content: "";
        margin-right: 18px;
        }

        .data .table .col .pointer:hover:after {
            font-size: 80%;
            content: "🔻";
            margin-right: 0;
            } */
            
    