body {
    font-family: Josefin Sans; 

}

input {
    margin-top: 20px;
    margin-left: 50%; 
    font-family: Josefin Sans; 
    height: 30px; 
    width: auto; 
}

button {
    height: 30px; 
    font-family: Josefin Sans; 

}