body {
    font-family: Josefin Sans; 
}

.container {
    color: white;
    background-color: rgb(5, 5, 87);
    margin:0 auto;
    padding: 0; 
    width: 200%; 
   padding-top: 50px;  
   border-bottom: 10px solid red;
   /* margin-bottom: 10px;  */
}




